:root{
    --buttons-color:#ffbb1c;
    --second-color:#3cab8f;
}
body{
    font-family: "Inter, sans-serif";
}
nav{
    background: #3cab90;
}
nav .nav-link {
    color: #fff;
}
.contact{
    color: #fff;
}
.navbar-brand img{
    width: 150px;
}
main{

    background-image: url("../images/solar-panels-meadow 1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   padding: 190px 0;
display: flex;
    /* flex-direction: column; */
    align-items: center;
}
main .buttons a:first-child{
    background:#3cab90;
    border-radius:50px;
    color: #fff;
}
main .buttons a:last-child{
    background:var(--buttons-color);
    border-radius:50px;
}
.description {
   width: 50%;
    color: #fff;
}

.about-us img{
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 10px;
}
.about-us ul li:first-child{
    list-style:"01/ ";
    
}

.about-us ul li:nth-child(2){
    list-style:"02/ ";
    
}
.about-us ul li:nth-child(3){
    list-style:"03/ ";
    
}
.about-us ul li:nth-child(4){
    list-style:"04/ ";
    
}
.about-us ul li:last-child {
    list-style: "05/ ";

}
.flow{
    background:var(--buttons-color);
    width: 150px;
    height: 120px;
    text-align:center;
    position: absolute;
   top: 40%;
   left: -20px;
   border-radius: 10px;
}
.flow i{
    font-size: 30px;
    color: #fff;
    text-align: center;
    margin: 10px 0;
}
.call-us{
    background-image: url("../images/8116\ 1.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 100px 0;
}
.call-us .info{
    color: #fff;
    width: 50%;

}

.call-us .info a{
    background: var(--buttons-color);
    border-radius: 50px;
}
@media screen and (max-width:769px) {
    main {
        padding: 100px 0;
    }

    .description {
        width: 100%;
        text-align: center;
    }
    .call-us .info{
        width: 100%;
        text-align: center;
    }
}
.kits{
padding: 20px 0;
}
.kits .header{
    text-align: center;
    margin: 15px 0;
}
.kits .header p{
    width: 75%;
    margin: auto;
}
.kits .cards .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.kits .cards .card{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.replacement{
    background-image: url("../images/8116\ 1.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 100px 0;
}
.replacement .info{
    width: 50%;
    margin: auto;
    text-align: center;
    color: #fff;
    background: #141414e3;
    padding: 20px;
    border-radius: 10px;
}
.products {
    padding: 20px 0;
}
.products .info{
    padding-top: 100px;
}
.products .card{
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 10px 0;
    background: #3cab8f1f;
    height: auto !important;

}
.products .card img{
    border-radius: 10px;
}
.value .card{
    background: #3cab8f1f;
}
.value .header i{
    
    font-size: 50px;
    color: var(--second-color);
    margin: 20px 40px;
    

}
.woc{
    padding: 20px 0;
}
.woc h1{
    font-size: 3rem;
    color: var(--second-color);
}
.woc .card{
    padding: 20px;
    box-shadow:
    -10px 10px 10px rgba(0, 0, 0, 0.2),
    10px -10px 10px rgba(0, 0, 0, 0.2),
    10px 10px 10px rgba(0, 0, 0, 0.2),
    -10px -10px 10px rgba(0, 0, 0, 0.2);
}
.woc .card .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}
.woc .card .header ul{
    list-style: none;
}
.woc .card .header ul li{
    width: 5px;
    height: 5px;
    background: var(--second-color);
    border-radius: 50%;
    margin: 0 5px;


}
footer{
    background: #283646;
    padding: 20px 0;
}
footer ul{
    list-style: none;
    display: flex;
    justify-content:space-evenly;
    
}

footer ul li a{
    color: #fff;
    text-decoration: none;
}


footer ul li a:hover{
    color: var(--second-color);
}
footer .links ul{
    margin-top: 15px;
}
footer .copy-rigths ul li{
    border-right: 1px solid gainsboro;
    padding: 0 10px 0 0;
    text-align: center;
    
}
footer hr{
    border: 1px solid gainsboro;
    margin: 10px 0;
}
#button-addon2{
background: var(--buttons-color);
border-radius: 50px;
position: relative;
right: 30px;
z-index: 2 !important;
}
.email{
    border-radius: 50px !important;
    z-index: 0 !important;
}